<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Настройки</title>
    <link rel="shortcut icon" href="https://dpoaps.ru/assets/icons/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}"/>
</head>
<body>
<div class="container">
    <div class="col-6 header">
        <a class="main-logo" href="/">
            <img class="main-logo" src="../static/images/logo.png" th:src="@{/static/images/logo.png}" alt="На главную">
        </a>
        <h4>Настройки</h4>


    </div>

    <form id="settings" th:action="@{/admin/update_settings/}" th:object="${adminSettings}" method="POST" enctype="multipart/form-data">
        <hr align="left" color="black">
        <div class="form-group row" >
            <label class="col-6 form-label">Настройки генерации документов</label>
        </div>
        <hr align="left" color="black">

        <div class="form-group row" id="sign">
            <label class="col-3 form-label" for="signImage">Текущая подпись:</label>
            <div class="col-3">
                <img id="signImage" th:src="${signPath}">
            </div>
        </div>

        <div class="form-group row" >
            <label class="col-3 form-label" for="uploadFile">Загрузить файл подписи:</label>
            <div class="col-3">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="form-control custom-file-input" id="uploadFile" name="file" accept="image/x-png" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="uploadFile" data-browse="Обзор">Выберите файл...</label>
                    </div>
                </div>
                <small id="uploadFileHelp" class="form-text text-muted">Файл в формате *.png размером не более 300*100 пикселей</small>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Изменить настройки</button>
    </form>

    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div align="center">
                        <img class="img-modal-response" th:src="${successLogo}">
                        <h4 class="h4-modal-header">Обновление прошло успешно!</h4>
                        <h6 id="success-message" class="h6-modal-description"></h6>
                    </div>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="button"  class="back-to-settings btn btn-lg btn-primary col-sm-5" value="К настройкам" />
                        <input type="button"  class="to-main btn btn-lg btn-primary col-sm-5" value="На главную"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="failure-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div align="center">
                        <img class="img-modal-response" th:src="${failureLogo}">
                        <h4 class="h4-modal-header">Ошибка обновления!</h4>
                        <h6 id="error-message" class="h6-modal-description"></h6>
                    </div>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="button"  class="back-to-settings btn btn-lg btn-primary col-sm-11" value="К настройкам" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script th:src="@{/static/js/admin.js}"></script>
</body>
